<td>
  {{index + 1}}
</td>

<td>
  <input
    *ngIf="editionModeEnabled ; else nameBlock"
    [(ngModel)]="invoice.name"
    [value]="invoice.name"
    type="text"
    class="form-control"
  />

  <ng-template #nameBlock>{{invoice.name}}</ng-template>
</td>

<td>
  <select
    *ngIf="editionModeEnabled ; else companyBlock"
    [(ngModel)]="invoiceCompanyId"
    class="form-control"
    required
  >
    <option *ngFor="let company of companies" [ngValue]="company.id">
      {{company.name}}
    </option>
  </select>

  <ng-template #companyBlock>{{invoice.company && invoice.company.name}}</ng-template>
</td>

<td>
  <input
    *ngIf="editionModeEnabled ; else netValueBlock"
    [(ngModel)]="invoice.netValue"
    [value]="invoice.netValue"
    type="numeric"
    class="form-control"
  />

  <ng-template #netValueBlock>{{invoice.netValue | currency}}</ng-template>
</td>

<td>
  <select
    *ngIf="editionModeEnabled ; else taxBlock"
    [(ngModel)]="invoice.tax"
    [value]="invoice.tax"
    class="form-control"
    required
  >
    <option value="0">
      0%
    </option>

    <option value="0.05">
      5%
    </option>

    <option value="0.08">
      8%
    </option>

    <option value="0.23">
      23%
    </option>
  </select>

  <ng-template #taxBlock>{{invoice.tax * 100}}%</ng-template>
</td>

<td>
  {{taxValue | currency}}
</td>

<td>
  <strong>{{grossValue | currency}}</strong>
</td>

<td>
  <input
    (change)="handlePaidChange()"
    [(ngModel)]="invoice.paid"
    [value]="invoice.paid"
    [disabled]="isStub"
    type="checkbox"
    class="form-control"
  />
</td>

<td>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button *ngIf="editionModeEnabled" (click)="saveChanges()" type="button" class="btn btn-secondary">
      <i class="fa fa-save"></i>
    </button>

    <button *ngIf="!editionModeEnabled" (click)="toggleEditionMode()" type="button" class="btn btn-secondary">
      <i class="fa fa-edit"></i>
    </button>
    
    <button (click)="deleteInvoice()" type="button" class="btn btn-secondary">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</td>
